.inbox{
    width: 19%;
    float: left;
    position: fixed;
    height: 100%
}
.convo{
    width: 90%;
    max-width: 900px;
    min-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
}
.convoTextField{
    position: fixed;
    bottom: 0;
    padding: 13px;
    background-color: white;

}

@media only screen and (max-width: 420px) {
    .inboxText{
        display: none;
    }
    .inbox{
        float: left;
        position: fixed;
        height: 100%;
        min-width: 75px;
    }
    .convo{
        margin: 20px;
    }
}