.profile{
    width: 100%;
    left:0;
    right:0;
    margin: auto;
}

.profileView{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    width: 80%;
}

.profileInfo{
    float: left;
    width: 20%;
    margin: 10px;
    position: fixed;
}
.profileStatus{
    float: right;
    width: 70%;
}
.profileImage{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit:scale-down;
}
.dialog{
    padding: 10px;
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .profileInfo{
        float: none;
        width: 100%;
        position: unset;
        margin-top: 100px;
        text-align: center;
        margin-bottom: 100px;
    }
    .profileStatus{
        float: none;
        width: 100%;
        margin-top: 0;

    }
    .profileView{
        position: center;
        display: inline-block;
        width: 100%;
        top:0;
    }
    .profileImage{
        border-radius: 0;
        width: 100%;
        min-width: 100%;
        min-height: 300px;
        object-fit:scale-down;

    }
}