.imageView{
    width: 500px;
    overflow: hidden;
    height: 500px;
    background-color: red;
}
.maxlineText{
    padding: 13px;
}

.postItem{
    width:60vh;
    left:0;
    right:0;
    margin: 27px auto auto;
}
